@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/*--------Global--------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

body{
  width: 70%;
  margin: auto;
}

h1{
  font-size: 50px;
  font-weight: 400;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 26px;
  margin-top: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*--------Nav--------*/

.nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-r > h3 {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

/*--------Hero--------*/

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  margin-top: 100px;
  margin-bottom: 200px;
}

.hero > h1 {
  text-align: center;
}

/*--------About--------*/

.clean {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about > p{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.neutral {
  padding-bottom: 50px;
  align-self: center;
}

.blue{
  width: 500px;
  border: 10px solid rgb(0, 122, 255);
  background: #007AFF;
  border-radius: 35px;
  color: white;
  text-align: center;
  align-self: flex-end;
  font-size: 30px;
}

.grey {
  border: 10px solid rgb(142, 142, 147);
  width: 500px;
  background: #8E8E93;
  border-radius: 35px;
  color: white;
  text-align: center;
  align-self: flex-start;
  font-size: 30px;
}

/*--------Instructors--------*/

.instructors {
  height: 100vh;
}

.instructors h1{
  margin-bottom: 40px;
  margin-top: 40px;
}

.instructors > .professor > .image > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
  margin-left: 10px;
}

.professor {
  margin-bottom: 30px;
}

.pierre {
  display: flex;
  justify-content: space-between;
}

.sebastien{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.sebastien h2 {
  display: flex;
  justify-content: flex-end;
}

.sebastien p {
  text-align: right;
}

/*--------Gallery--------*/

.gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 100px;
}

.gallery h1{
  margin-bottom: 50px;
}

.gallery img {
  width: 100%;
}

/*--------Contact--------*/

/*--------Footer--------*/
