@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

/*--------Global--------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

body{
  width: 70%;
  margin: auto;
}

h1{
  font-size: 50px;
  font-weight: 400;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 26px;
  margin-top: 5px;
  font-family: 'Nunito', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a:visited {
  text-decoration: none;
  color: black;
}

/*--------Nav Burger--------*/

.nav-burger{
  text-align: right;
  line-height: 70px;
}

.nav-burger h2 {
  float: left;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}

label {
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

/*--------Hero--------*/

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  margin-top: 100px;
  margin-bottom: 200px;
  clear: both;
}

.hero > h1 {
  text-align: center;
}

.hero iframe {
  width: 560px;
  height: 400px;
}

/*--------About--------*/

.clean {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about > p{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.neutral {
  padding-bottom: 50px;
  align-self: center;
}

.blue{
  width: 500px;
  border: 10px solid rgb(0, 122, 255);
  background: #007AFF;
  border-radius: 35px;
  color: white;
  text-align: center;
  align-self: flex-end;
  font-size: 30px;
}

.grey {
  border: 10px solid rgb(142, 142, 147);
  width: 500px;
  background: #8E8E93;
  border-radius: 35px;
  color: white;
  text-align: center;
  align-self: flex-start;
  font-size: 30px;
}

/*--------Instructors--------*/

.instructors {
  height: 100vh;
}

.instructors h1{
  margin-bottom: 40px;
  margin-top: 40px;
}

.instructors > .professor > .image > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
  margin-left: 10px;
}

.professor {
  margin-bottom: 30px;
}

.pierre {
  display: flex;
  justify-content: space-between;
}

.sebastien{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.sebastien h2 {
  display: flex;
  justify-content: flex-end;
}

.sebastien p {
  text-align: right;
}

/*--------Gallery--------*/

.gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-bottom: 200px;
}

.gallery h1{
  margin-bottom: 50px;
}

.gallery img {
  width: 100%;
}

/*--------Contact--------*/

#contact {
  text-align: center;
  margin-bottom: 50px;
}

.contact {
  height: 85vh;
}

#first-h2{
  margin-bottom: 40px;
}
.contact iframe {
  width: 600px;
  height: 500px;
}

.contact-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.infos {
 height: 500px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

/*--------Footer--------*/

.footer {
  text-align: center;
  margin-bottom: 80px;
  font-size: 2em;
}

.footer a {
  color: #FE251B;
  text-decoration: none;
}

/*--------Responsive--------*/

/* ----------- iPhone X ----------- */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {


  body {
    width: 90%;
  }
/*--------Font--------*/

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 22.5px;
  }

  h3 {
    font-size: 12.5px;
  }

  p {
    font-size: 13px;
    margin-top: 5px;
    font-family: 'Nunito', sans-serif;
  }

  /*--------Hero--------*/

  .hero {
  flex-direction: column-reverse;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 130px;
  }

  .hero iframe {
    width: 280px;
    height: 200px;
  }

  /*--------About--------*/

  .clean {
    height: 470px;
  }

  .about > p{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .neutral {
    padding-bottom: 50px;
    align-self: center;
  }

  .blue{
    width: 230px;
    font-size: 12px;
    margin-bottom: 7px;
  }

  .grey {
    width: 230px;
    font-size: 12px;
    margin-bottom: 7px;
  }

  /*--------Instructors--------*/

  .instructors {
    height: 100vh;
  }

  .instructors {
    text-align: center;
  }

  .instructors h1{
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .instructors > .professor > .image > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .professor {
    margin-bottom: 30px;
  }

  .pierre {
    display: block;
    justify-content: space-between;
  }

  .sebastien{
    display: block;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .sebastien p {
    text-align: center;
  }

/*--------Gallery--------*/

  .gallery {
    height: 40vh;
    margin-bottom: 50px;
  }

  /*--------Contact--------*/

  #first-h2 {
    text-align: center;
    margin-bottom: 45px;
  }

  .contact {
    height: 95vh;
    margin-bottom: 0px;
  }

  .contact iframe {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

  .contact-flex{
    display: flex;
    flex-direction: column;
  }

  .infos {
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
  }

  .block-1, .block-2, .block-3 {
    margin-bottom: 15px;
  }

  /*--------Footer--------*/

  .footer {
    margin-bottom: 20px;
    font-size: 1em;
  }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  body {
    width: 90%;
  }


    /*--------Instructors--------*/

  .instructors {
    height: 120vh;
    margin-bottom: 35px;
  }

  .sebastien p {
    text-align: center;
  }

    /*--------Gallery--------*/

  .gallery {
    height: 65vh;
    margin-bottom: 55px;
  }

  .contact {
    margin-bottom: 60px;
  }

}

/* ----------- Nav Burger Responsive ----------- */

@media only screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }
}
